{% extends 'Board/layout.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block description %}
    <div class="mdl-textfield mdl-js-textfield mdl-table">
        <textarea class="mdl-textfield__input" type="text"></textarea>
        <label class="mdl-textfield__label" for="sample5">Dag description</label>
    </div>
{% endblock description %}

{% block editroute %}/edit{% endblock editroute %}

{% block tablebody %}
    <tr>
        <td>
            <div class="mdl-selectfield">
                <label>Standard Select</label>
                <select class="browser-default">
                    <option value="" disabled selected>Kies je vak</option>
                    {% for vak in vakken %}
                    <option value="{{vak.id}}">{{vak.vak}}</option>
                    {% endfor %}
                </select>
            </div>
        </td>
        <td class="mdl-data-table__cell--non-numeric">
            <input class="mdl-textfield__input mdl-textfield mdl-js-textfield" type="text" id="pass">
        </td>
        <td>
            <input class="mdl-textfield__input mdl-textfield mdl-js-textfield" type="text" id="pass">
        </td>
    </tr>
{% endblock tablebody %}

{% block buttonholder %}
    <div class="mdl-card mdl-shadow--2dp mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--12-col-phone mdl-button-holder">
        <div class="mdl-card__actions mdl-card--border">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-float-left add-field">
                <i class="material-icons">add</i>
            </button>
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-float-right remove-field">
                <i class="material-icons">done</i>
            </button>
        </div>
    </div>
{% endblock buttonholder %}

{#
    periode, datum, aantal minuten, activiteit, betrokken lesvak, opmerking
 #}
