{% extends 'Planning/layout.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block cardTitle %}Week {{date}}{% endblock %}

{% block description %}
<table class="mdl-table mdl-data-table mdl-data-table--selectable mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Vak</th>
      <th class="mdl-data-table__cell--non-numeric">Omschrijving</th>
      <th class="mdl-data-table__cell--non-numeric">Dag (Optioneel)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Programmeren</td>
      <td class="mdl-data-table__cell--non-numeric">Toets PHP</td>
      <td class="mdl-data-table__cell--non-numeric">12-1-2016</td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Oracle</td>
      <td class="mdl-data-table__cell--non-numeric">Tot section 5 af</td>
      <td class="mdl-data-table__cell--non-numeric"></td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Beter rekenen</td>
      <td class="mdl-data-table__cell--non-numeric">5 sommen iedere dag</td>
      <td class="mdl-data-table__cell--non-numeric"></td>
    </tr>
  </tbody>
</table>

{% endblock description %}


{#
    periode, datum, aantal minuten, activiteit, betrokken lesvak, opmerking
 #}
